@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	box-sizing: border-box;
	background-color: #000000;
	color: #F6F6F6;
}

.titulo-destaque {
	color: #22D4FD;
}

.apresentacao {
	margin: 10% 15%;	/* Horizontal / Vertical */
	display: flex;
	align-items: center;
	justify-content: space-between; /* comando responsável por justificar, formatando o posicionamento */
}

.apresentacao__conteudo {
	width: 615px;
	display: flex; /* Por padrão é row */
	flex-direction: column;
	gap: 40px;		/* Adiciona um espaçamento entre os elementos-filhos */

}

.apresentacao__conteudo--titulo {
	font-size: 36px;
	font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo--texto {
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
	display: flex;
	justify-content: space-between;
}

.apresentacao__links__link {
	background-color: #22D4FD;		/* Cor de fundo */
	width: 280px;					/* Largura */
	text-align: center;				/* Centralizar texto */
	border-radius: 16px;			/* Arredonda a borda */
	font-size: 24px;
	font-weight: 600;				/* Peso da fonte */
	color:#000000;
	padding: 21.5px 0;				/* O primeiro valor é vertical, o segundo é horizontal */
	text-decoration: none;			/* Remove a decoração do texto ( no caso do link ) */
	font-family: "Montserrat", sans-serif;
}