@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	/* height: 100vh; Não há necessidade após add o footer. */
	box-sizing: border-box;
	background-color: #000000;
	color: #F6F6F6;
}

.cabecalho {
	padding: 2% 0 0 15%;	/* top right bottom left*/
}

.cabecalho__menu {
	display: flex;
	gap: 80px;
}

.cabecalho__menu__link {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 600;
	color:#22D4FD;
	text-decoration: none;	/* Remover decoração do hyperlink */
}

.apresentacao {
	/* margin: 10% 15%;	Horizontal / Vertical */
	padding: 5% 15%;
	display: flex;
	align-items: center;
	justify-content: space-between; /* comando responsável por justificar, formatando o posicionamento */
}

.apresentacao__conteudo {
	width: 615px;
	display: flex; /* Por padrão é row */
	flex-direction: column;
	gap: 40px;		/* Adiciona um espaçamento entre os elementos-filhos */
}

.apresentacao__conteudo--titulo {
	font-size: 36px;
	font-family: "Krona One", sans-serif;
}

.titulo-destaque {
	color: #22D4FD;
}

.apresentacao__conteudo--texto {
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
	display: flex;			/* Por padrão em row */
	flex-direction: column;	/* Muda para column */
	justify-content: space-between;
	align-items: center;	/* Alinha os elementos no centro */
	gap: 32px;				/* Adicionar espaçamento entre os elementos */
}

.apresentacao__links__subtitulo {
	font-family: "Krona One", sans-serif;
	font-size: 24px;
	font-weight: 400;
}

.apresentacao__links__link {
	/* background-color: #22D4FD;		Cor de fundo */
	display: flex;
	justify-content: center;
	gap: 16px;

	align-items: center;
	border: 2px solid #22D4FD;
	width: 378px;					/* Largura */
	text-align: center;				/* Centralizar texto */
	border-radius: 8px;			/* Arredonda a borda */
	font-size: 24px;
	font-weight: 600;				/* Peso da fonte */
	color:#F6F6F6;
	padding: 21.5px 0;				/* O primeiro valor é vertical, o segundo é horizontal */
	text-decoration: none;			/* Remove a decoração do texto ( no caso do link ) */
	font-family: "Montserrat", sans-serif;
}

.apresentacao__links__link:hover {
	cursor: pointer;
	background-color: rgb(90, 134, 146);
}

img:hover {
	border-style: solid;
	border-color:aqua;
	border-width:3px;
}

.rodape {
	padding: 24px;
	color: #000000;
	background-color:#22D4FD;
	text-align: center;
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}